*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    position: sticky;
    top: 0;
    z-index: 11;
    box-shadow: rgba(0, 52, 21, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.navbar .container .navbar-collapse{
   margin-left: 150px;
   & .navbar-nav .nav-link{
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(9, 71, 0);
    
   }
}
.slide .carousel-inner .carousel-item{
    height: 500px;
    & img{
        width: 100%;
        height: 100%;
    }
}
h3{
    background-color: black;
    font-size: 7rem;
    color: rgb(244, 252, 245);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 5%;
}
.image_gal{
    display: flex;
    height:10rem ;
    gap: 1rem;
    margin-top: 10%;
}
img{
    flex:2 ;
    border-radius: 1rem;
    background-position:center ;
    background-repeat:no-repeat ;
    background-size:auto 100% ;
    transition:
    all 8s cubic-bezier(0.25, .4, .45, 1.4) ;
}
img:hover{
    flex: 5;

}
.box-card{
    margin-top: 50px;
    
}
.box-card h2{
    position: relative;
}

.box-card .card .image{
    overflow: hidden;
}
.box-card .card .image img{
    transition:all ease-in-out 0.3s;
    width: 300px;  /* Set a fixed width */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image fills the box without distortion */
    border-radius: 10px; /* Optional: makes the images look better */
}
.box-card .card .image:hover img{
    transform: scale(1.05);
    
}
.map{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.map.h2{
    color: #ffffff;
    margin-bottom: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
iframe{
    width:80% ;
    height: 500px ;
    filter: blur(100%);
}
footer{
    background-color: rgb(8, 47, 16);
}
.footer h5{
    color: #fff;
    margin-bottom: 20px;
}
.footer .link{
    width: 100%;
}
.footer .link ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    list-style: none;
}
.footer .link ul li a{
    text-decoration: none;
    color: #ffffff;
}

  


/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    
    .navbar .container .navbar-collapse{
        margin-left: 10px;
    } 
    .slide .carousel-inner .carousel-item{
        height: 700px;
    }
    .box-card{
        margin-top: 20px;
    }
    .app,.accept{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    
    .link{
        display: flex;
        margin-top: 20px;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        padding-left: 50px;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { }

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */
